$debug-color: red
$fork-color: gray

/*
 * SCOREBOARD
 */

// scoreboard font (Zen Dots)
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Raleway+Dots&family=Sevillana&family=Zen+Dots&display=swap')

$scoreborad-bg-color: white
$scoreboard-text-color: black

$scoreboard-font-size: 40px
$scoreboard-dividing-line-width: 4px


// player button display
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Press+Start+2P&family=Raleway+Dots&family=Sevillana&family=Zen+Dots&display=swap')

$inactive-button-color: lightgray
$inactive-button-shadow: gray

$top-button-color: #ff0000
$top-button-shadow: #AA0000

$bottom-button-color: #00f
$bottom-button-shadow: #00a

$left-button-color: #0c0
$left-button-shadow: #080

$right-button-color: #ffcf00
$right-button-shadow: #BFAE23

.debug 
    border: 1px solid $debug-color
    
